.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .article {
        height: 30rem;
        width: 30rem;
        background-color: #ccc;
        margin: auto;
        margin-top: $sectionTop;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        

        .articleTitle {
            margin-bottom: 0.5rem;
        }

        .date {
            background-color: #3F4448;
        }
    }
} 
