footer {
    display: flex;
    justify-content: space-between;
    margin-top: $sectionTop;

    .contact {
        flex-basis: 0;
        flex-grow: 1;
    }
    .news {
        flex-basis: 0;
        flex-grow: 1;
    }
    .why {
        flex-basis: 0;
        flex-grow: 1;
    }
    
}