header {
    padding: $paddingFix;
    display: flex;

    h1 {
        padding: 10px 0;
        
        span {
            font-weight: 100;
        }
    }
    img {
        height: 80px;
        padding: 10px;
    }
    a {
        margin-left: auto;
        align-self: flex-end;
    }
}
