nav {
    display: flex;
    background: #ccc;
    margin: 0px -2000px;
    padding: 0px 2000px;

    ul {
        display: flex;
        list-style-type: none;
        align-self: center;
        padding: $paddingFix;
        
        li {
            padding-right: 1rem;
        }
    }

    div {
        margin-left: auto;
        padding: $paddingFix;

        input {
            margin: 0.5rem 0;
            padding: 0.7rem 0;
        }
    }
}