@import "./variables";
@import "./header";
@import "./nav";
@import "./jumbo";
@import "./blogs";
@import "./footer";
@import "./socials";
@import "./myInfo";

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 3rem;
}