@import "./variables";
@import "./header";
@import "./nav";
@import "./jumbo";
@import "./blogs";
@import "./footer";
@import "./socials";
@import "./myInfo";

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100%
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 96rem;
}