header {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header h1 {
  padding: 10px 0;
}

header h1 span {
  font-weight: 100;
}

header img {
  height: 80px;
  padding: 10px;
}

header a {
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ccc;
  margin: 0px -2000px;
  padding: 0px 2000px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 2rem;
}

nav ul li {
  padding-right: 1rem;
}

nav div {
  margin-left: auto;
  padding: 0 2rem;
}

nav div input {
  margin: 0.5rem 0;
  padding: 0.7rem 0;
}

main {
  background-color: #ccc;
  height: 40rem;
  margin-top: 2rem;
}

.blog {
  margin-top: 2rem;
}

.blog .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog .articles .article {
  height: 30rem;
  width: 30rem;
  background-color: #ccc;
  margin: auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog .articles .article .articleTitle {
  margin-bottom: 0.5rem;
}

.blog .articles .article .date {
  background-color: #3F4448;
}

footer {
  background-color: #ccc;
  margin: 2rem -2000px;
  padding: 0px 2000px;
}

footer .footWrapper {
  margin-top: 2rem;
  padding: 0 2rem;
}

footer .footWrapper .contact {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

footer .footWrapper .news {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

footer .footWrapper .why {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem .5rem;
}

@media only screen and (min-width: 600px) {
  footer .footWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials a {
  padding: 1rem;
  cursor: pointer;
}

.socials a:nth-child(1) {
  color: #1877F2;
}

.socials a:nth-child(2) {
  color: #FF0000;
}

.socials a:nth-child(3) {
  color: #CA436E;
}

.socials a:nth-child(4) {
  color: #E6001A;
}

.socials a:nth-child(5) {
  color: #1DA1F2;
}

.myInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Arimo', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 96rem;
}
/*# sourceMappingURL=style.css.map */